<!DOCTYPE html>
<html>

<head>
	<title>File Upload</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script type="text/javascript" src="js/angular-file-upload.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	

	<script>
		var app = angular.module('myApp', ['angularFileUpload']);

		app.controller('formsubmit', ['$scope', '$timeout', '$upload', function($scope, $timeout, $upload) {
			$scope.show = false;
			$scope.uploadResult = [];
			$scope.onFileSelect = function($files) {
				if ($scope.type == 1) {
					var query = "command=CRM"
				}
				else {
					var query = "command=n"
				}
				if ($scope.key) {
					query = query + "&key=" + $scope.key
				}
				if ($scope.table) {
					query = query + "&table=" + $scope.table
				}
				if ($scope.dedupefield) {
					query = query + "&dedupefield=" + $scope.dedupefield
				}

				$("#form_container").html("Processing file..")

				//$files: an array of files selected, each file has name, size, and type.
				//for (var i = 0; i < $files.length; i++) {

				var $file = $files[0];
				$upload.upload({
					url: '/services/upload.php?' + query,
					file: $file,
					progress: function(e) {}
				}).then(function(response) {
					// file is uploaded successfully
					$timeout(function() {
						var html = '';
						$scope.items = response.data;
						angular.forEach(response.data, function(value, key) {
							html += value + '<br>';
						});
						$scope.show = true;
						document.getElementById('print').innerHTML = html;
						$("#form_container").html("Finished")
					});

				});
				//}
			}
		}]);
	</script>
</head>

<body ng-app="myApp" ng-controller="formsubmit">

<div id="form_container">
	<form ng-submit="submit()" ng-controller="formsubmit">
		<div style="text-align: left;font-size: 20px;padding: 10px;color: #487eaa;">
			<font> Upload </font>
		</div>
		Load CRM csv
		<input type="radio" value="1" name="type" ng-model="type">
		<br/> 
		<br/>
		<br/>
		Load new emails
		<input type="radio" value="2" name="type" ng-model="type">
		<br/>
		Table
		<input type="text" name="table" ng-model="table" required />
		<br/>
		Key
		<input type="text" name="key" ng-model="key" required />
		<br/>
		De-dupe field
		<input type="text" name="dedupefield" ng-model="dedupefield" required />
		<br/>
		<br/>
		<div class="file-upload">
			<input type="file" id="i_file" name="file" ng-file-select="onFileSelect($files)" multiple />
			<div ng-repeat="files in uploadResult">
				<!-- in case of error show error message with file name-->
				<span class='label label-info'>{{files.name}}</span>
				<br/>

			</div>
		</div>
	</form>
</div>
	<div style="width:300px;" ng-show="show">

<div id="print"></div>
</div>
</body>
</html>